body {
    margin: 0px;
}

.top-container {
    background-image: url("./assets/MyPhoto.JPG");
    background-size: cover;
    background-position: center;
    width: auto;
    height: 800px;
    position: relative;
}
.greeting {
    margin: 0px;
    text-align: center;
    line-height: 800px;
    color: #ffffff;
    /* position: absolute; */
    display: flex;
    justify-content: center;
}

